#root {
  height: 100vh;
}
footer {
  width: 100%;
  bottom: 0px;
  background-color: rgb(97, 93, 93);
}
.book-images {
  width: 33%;
  align-content: center;
}
.my-jumbo {
  background-image: url("./images/lib.jpg");
}
